node_modules
.next
dist
coverage
.turbo
.vercel
.render
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.production.local
.env.preview.local
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/web/.next
apps/api/dist
packages/types/dist
